body{
 background-color:lightblue;
 
}
div{
 color:yellow;
}



h1 {
  color: white;
  text-align: center;
}
#demo {
  text-align: center;
  color: yellow;
  border-style: solid;
  border: 2px solid black;
  border-radius: 12px;
}

form{
  color: white;
  text-align: center;
	}
	
div{
   color:white;
   text-align: center;

}